
body {
    background-color: white;
    height: 80%;
    margin: 0;
}

.custom-container {
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 100px;
    position: relative;
    top: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-block {
    padding: 10px;
    font-size: 16px;
}

input.form-control {
    border-radius: 0.25rem;
    font-size: 16px;
}



