@{
    ViewData["Title"] = "Home Page";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="d-flex align-items-center justify-content-center vh-100" style="padding-bottom: 150px;">
	<div class="text-center ">
        <a href="#" class="btn btn-outline-dark display-4 custom-button " >CV Oluştur</a>
    </div>
</div>

