@{
    ViewData["Title"] = "CV Generate";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="d-flex align-items-center justify-content-center vh-100" style="padding-bottom: 150px;">
    <div class="text-center ">
        <a class="btn btn-outline-dark display-4 custom-button" asp-area="" asp-controller="CvPageInfo"
            asp-action="Index">CV
            Oluştur</a>
    </div>
</div>
