body {
    background-color: white;
    height: 70vh; 
    margin: 0;
}



.login-wrapper {
    width: 60%;
    background-color: white;
    padding: 5%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-block {
    padding: 10px;
    font-size: 16px;
}

input.form-control {
    border-radius: 0.25rem;
    font-size: 16px;
}
.custom-btn {
    transition: background-color 0.3s, color 0.3s; 
}

    .custom-btn:hover {
        background-color: white !important; 
        color: black !important; 
        border-color: black !important;
    }
